<!DOCTYPE html>
<html lang="en" ng-app="cuatro">
<head>
	<meta charset="UTF-8">
	<title>Cuatro</title>

	<link rel="shortcut icon" href="/images/4.png">


	<!-- Vendor Stylesheets -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>

	<!-- Custom Stylesheets -->

	<link rel="stylesheet" href="/css/board.css">

</head>
<body ng-controller="GameController">

	<!-- ANGULAR APP INSERTER HERE -->
	<div ui-view></div>
	
	<footer class="col-xs-12">
	    <p id="copyright">&copy; Jorge Suárez<p>
	</footer>
	
</body>

	<!-- Third Party Libraries -->

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	
 	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script> 

	<!-- Scripts -->
	<script type="text/javascript" src="/app.js"></script>
	<script type="text/javascript" src="controllers/game_ctrl.js"></script>

</html>