<!DOCTYPE html>
<html lang="en" ng-app="cuatro">
<head>
	<meta charset="UTF-8">
	<title>Cuatro</title>


	<!-- Vendor Stylesheets -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>

	<!-- Custom Stylesheets -->

	<link rel="stylesheet" href="/css/board.css">

</head>
<body ng-controller="GameController">

<div class="row top-bar">
    <div class="col-xs-2">
       <h1 class="title">CUATRO</h1>
    </div>
    <div class="col-xs-2 col-xs-offset-8">
        <button class="git-hub btn btn-default"><a target="_blank" href="https://github.com/jorgeRafaelSJ/connect-four">Git Hub</a></button>
    </div>
</div>

	<!-- ANGULAR APP INSERTER HERE -->
	<div ui-view></div>
	
	<footer class="col-xs-12">
	    <p id="copyright">&copy; Jorge Suárez<p>
	</footer>
	
</body>

	<!-- Third Party Libraries -->

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	
 	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script> 

	<!-- Scripts -->
	<script type="text/javascript" src="/app.js"></script>

	<!-- Controllers -->
	<script type="text/javascript" src="controllers/game_ctrl.js"></script>

	<!-- Services -->
	<script type="text/javascript" src="services/board.js"></script>
	<script type="text/javascript" src="services/play_again.js"></script>
	<script type="text/javascript" src="services/col_hover.js"></script>
	<script type="text/javascript" src="services/player.js"></script>
</html>