body {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
}
.main-view {
	padding: 0;
}
.table { 
	width: 625px;
	background-color: #F8DA3B;
}
.board {
	margin-top: 100px !important;
	vertical-align: center;
}
td {
	height: 80px;
	width: 89px; 
	-moz-border-radius: 200px; 
	-webkit-border-radius: 200px; 
	border-radius: 200px; 
	background-color: white;
	border-color: #F8DA3B !important;
}
.red { 
	background-color: red; 
}
.black { 
	background-color: black; 
}
td.col0 {
	border-left: 10px solid #00B6EB !important;
}
td.col6 {
	border-right: 10px solid #00B6EB !important;
}
.turn-display {
	text-align: center;
	height: 140px;
	border-bottom: 1px solid #666;
	background-color: #ddd;
}
.result-display {
	text-align: center;
	height: 140px;
	border-bottom: 1px solid #666;
	background-color: #ddd;
}
footer {
	text-align: center;
	margin-top: 50px;
	background-color: #ddd;
	padding: 20px 0;
	border-top: 1px solid #666;
}
.turn-text {
	color: red;
	margin-top: 45px;
}
.red-winner {
	color: red;
}
.black-winner {
	color: black;
}
.btn-default {
	margin-top: 10px;
	font-size: 20px;
	background-color: #bbb;
	border: 1px solid #000;
	border-radius: 4px;
	color: #333;
}
.btn-default:hover {
	border: 1px solid #00B6EB;
	background-color: rgba(0,154,198,0.1);
	color: #007799;
}
.instructions {
	margin-top: 100px;
}
ul {
	list-style: none;
}