html,body, div{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
}
.main-view {
	width: 100vw;
	height: 100vh;
	background-color: rgba(174, 188, 33,0.3);
	padding-bottom: 50px;
}
/*table and board*/
.table { 
	width: 85vw;
	height: 30px;
	background-color: #F8DA3B;
}
.board {
	margin-top: 20px;
	vertical-align: center;
}
td {
	height: 6vh;
	width: 8vw; 
	-moz-border-radius: 200px; 
	-webkit-border-radius: 200px; 
	border-radius: 200px; 
	background-color: white;
	border-color: #F8DA3B !important;
}

/*dynamic game board classes*/
.red { 
	background-color: red; 
}
.black { 
	background-color: black; 
}
.red-winner {
	color: red;
}
.black-winner {
	color: black;
}

/*blue borders on side of board*/
td.col0 {
	border-left: 3px solid #00B6EB !important;
}
td.col6 {
	border-right: 3px solid #00B6EB !important;
}

/*Top Bar and Footer*/
.top-bar {
	text-align: center;
	height: 80px;
	border-bottom: 1px solid #00B6EB;
	background-color: rgba(174, 188, 33,0.5);
	margin-left: 0px;
}
.title {
	margin-top: 20px;
	font-size: 30px;
	color: #00B6EB;
}
.git-hub {
	margin-top: 30px !important;
}
footer {
	text-align: center;
	background-color: rgba(174, 188, 33,0.5);
	padding: 20px 0;
	border-top: 1px solid #00B6EB;
}

/*Buttons*/
a {
	color: #333 !important;
}
.btn-default {
	margin-top: 20px !important;
	font-size: 15px;
	background-color: rgb(174, 188, 33);
	border: 1px solid #00B6EB;
	border-radius: 0px;
	color: #333;
	margin-bottom: 10px;
}
.btn-default:hover {
	border: 1px solid yellow;
	background-color: rgba(174, 188, 33,0.5);
	color: #007799;
}

/*Left side and right side of the board*/
.welcome-container {
	margin-top: 10px !important;
}
.welcome-title {
	font-size: 16px;
	margin-top: 20px;
}
.welcome-subtitle {
	font-size: 12px;
	margin-top: 20px;
}
.turn-text {
	color: red;
	font-size: 15px;
	margin-top: 20px;
}
.instructions {
	margin-top: 20px;
}
.left-dashboard {
	margin-top: 20px;
	text-align: center;
}
ul {
	list-style: none;
	padding-left: 0;
}
.rules-title {
	font-size: 18px;
}
.rules-item {
	margin-top: 5px;
	font-size: 10px;
}
.hovering {
	border-left: 3px solid #444 !important;
	border-right: 3px solid #444 !important;	
}

/*iPhone 6 plus*/
@media(min-width: 413px) {
	.welcome-title {
		margin-top: 10px;
	}
	.turn-text {
		margin-top: 10px;
	}
}

/*iPad Mini & iPad*/
@media(min-width: 768px) {
	.welcome-container {
		margin-top: 70px !important;
	}
	.welcome-title {
		font-size: 24px;
	}
	.welcome-subtitle {
		font-size: 14px;
	}
	.turn-text {
		font-size: 22px;
	}
	.rules-title {
		font-size: 22px;
	}
	.rules-item {
		font-size: 14px;
	}
	td {
		height: 10vh;
		width: 8vw; 
	}
	td.col0 {
		border-left: 7px solid #00B6EB !important;
	}
	td.col6 {
		border-right: 7px solid #00B6EB !important;
	}
}
@media(min-width: 850px) {
	td{
		height: 12vh;
	}
}
/*medium size screen*/
@media(min-width: 992px) {
	.table {
		width: 60vw;
	}
	td {
		height: 11vh;
	}
	.board {
		margin-top: 70px;
	}
	td.col0 {
		border-left: 9px solid #00B6EB !important;
	}
	td.col6 {
		border-right: 9px solid #00B6EB !important;
	}
	}
	.instructions {
		margin-top: 70px;
	}
	.left-dashboard {
		margin-top: 70px;
	}
	.turn-text {
		margin-top: 45px;
	}
	.welcome-title {
		font-size: 20px;
	}
	.welcome-subtitle {
		font-size: 15px;
	}
	.rules-title {
		font-size: 20px;
		margin-top: 10px; 
	}
	.rules-item {
		font-size: 12px; 
	}
	.btn-default {
		font-size: 14px;
	}
/*large size screen*/
@media(min-width: 1199px) {
	.table {
		width: 47vw;
	}	
}