<div class="board-container board col-lg-6 col-md-8 col-sm-12">
    <table align="center" class="table table-bordered" cellspacing="5" cellpadding="0">
        <tr id="row0">
            <td class="col0 empty" ng-mouseover="game.hovering(0)" ng-click="game.makeMove(0)"></td>
            <td class="col1 empty" ng-mouseover="game.hovering(1)" ng-click="game.makeMove(1)"></td>
            <td class="col2 empty" ng-mouseover="game.hovering(2)" ng-click="game.makeMove(2)"></td>
            <td class="col3 empty" ng-mouseover="game.hovering(3)" ng-click="game.makeMove(3)"></td>
            <td class="col4 empty" ng-mouseover="game.hovering(4)" ng-click="game.makeMove(4)"></td>
            <td class="col5 empty" ng-mouseover="game.hovering(5)" ng-click="game.makeMove(5)"></td>
            <td class="col6 empty" ng-mouseover="game.hovering(6)" ng-click="game.makeMove(6)"></td>
        </tr>
        <tr id="row1">
            <td class="col0 empty" ng-mouseover="game.hovering(0)" ng-click="game.makeMove(0)"></td>
            <td class="col1 empty" ng-mouseover="game.hovering(1)" ng-click="game.makeMove(1)"></td>
            <td class="col2 empty" ng-mouseover="game.hovering(2)" ng-click="game.makeMove(2)"></td>
            <td class="col3 empty" ng-mouseover="game.hovering(3)" ng-click="game.makeMove(3)"></td>
            <td class="col4 empty" ng-mouseover="game.hovering(4)" ng-click="game.makeMove(4)"></td>
            <td class="col5 empty" ng-mouseover="game.hovering(5)" ng-click="game.makeMove(5)"></td>
            <td class="col6 empty" ng-mouseover="game.hovering(6)" ng-click="game.makeMove(6)"></td>
        </tr>
        <tr id="row2">
            <td class="col0 empty" ng-mouseover="game.hovering(0)" ng-click="game.makeMove(0)"></td>
            <td class="col1 empty" ng-mouseover="game.hovering(1)" ng-click="game.makeMove(1)"></td>
            <td class="col2 empty" ng-mouseover="game.hovering(2)" ng-click="game.makeMove(2)"></td>
            <td class="col3 empty" ng-mouseover="game.hovering(3)" ng-click="game.makeMove(3)"></td>
            <td class="col4 empty" ng-mouseover="game.hovering(4)" ng-click="game.makeMove(4)"></td>
            <td class="col5 empty" ng-mouseover="game.hovering(5)" ng-click="game.makeMove(5)"></td>
            <td class="col6 empty" ng-mouseover="game.hovering(6)" ng-click="game.makeMove(6)"></td>
        </tr>
        <tr id="row3">
            <td class="col0 empty" ng-mouseover="game.hovering(0)" ng-click="game.makeMove(0)"></td>
            <td class="col1 empty" ng-mouseover="game.hovering(1)" ng-click="game.makeMove(1)"></td>
            <td class="col2 empty" ng-mouseover="game.hovering(2)" ng-click="game.makeMove(2)"></td>
            <td class="col3 empty" ng-mouseover="game.hovering(3)" ng-click="game.makeMove(3)"></td>
            <td class="col4 empty" ng-mouseover="game.hovering(4)" ng-click="game.makeMove(4)"></td>
            <td class="col5 empty" ng-mouseover="game.hovering(5)" ng-click="game.makeMove(5)"></td>
            <td class="col6 empty" ng-mouseover="game.hovering(6)" ng-click="game.makeMove(6)"></td>
        </tr>
        <tr id="row4">
            <td class="col0 empty" ng-mouseover="game.hovering(0)" ng-click="game.makeMove(0)"></td>
            <td class="col1 empty" ng-mouseover="game.hovering(1)" ng-click="game.makeMove(1)"></td>
            <td class="col2 empty" ng-mouseover="game.hovering(2)" ng-click="game.makeMove(2)"></td>
            <td class="col3 empty" ng-mouseover="game.hovering(3)" ng-click="game.makeMove(3)"></td>
            <td class="col4 empty" ng-mouseover="game.hovering(4)" ng-click="game.makeMove(4)"></td>
            <td class="col5 empty" ng-mouseover="game.hovering(5)" ng-click="game.makeMove(5)"></td>
            <td class="col6 empty" ng-mouseover="game.hovering(6)" ng-click="game.makeMove(6)"></td>
        </tr>
        <tr id="row5">
            <td class="col0 empty" ng-mouseover="game.hovering(0)" ng-click="game.makeMove(0)"></td>
            <td class="col1 empty" ng-mouseover="game.hovering(1)" ng-click="game.makeMove(1)"></td>
            <td class="col2 empty" ng-mouseover="game.hovering(2)" ng-click="game.makeMove(2)"></td>
            <td class="col3 empty" ng-mouseover="game.hovering(3)" ng-click="game.makeMove(3)"></td>
            <td class="col4 empty" ng-mouseover="game.hovering(4)" ng-click="game.makeMove(4)"></td>
            <td class="col5 empty" ng-mouseover="game.hovering(5)" ng-click="game.makeMove(5)"></td>
            <td class="col6 empty" ng-mouseover="game.hovering(6)" ng-click="game.makeMove(6)"></td>
        </tr>
    </table>
</div>