<!-- GAME BOARD -->
<div ng-controller="GameController as game" class="main-view col-xs-12">

    <div class="left-dashboard col-lg-3 col-md-2 col-sm-12">
        <h3>Welcome to <b>Cuatro</b></h3>

        <p>Be the first player to get four of your checkers in a row - horizontally, vertically or diagonally.</p>

        <div ng-hide="game" class="col-xs-12">
             <h2 class="{{winner}}-winner">{{winner}} player wins!</h2>
             <button class="btn btn-default" ng-click="playAgain()">Play Again</button>
        </div>

        <div ng-show="game" class="col-xs-12">
             <h2 class="turn-text">{{player}} player's turn</h2>
        </div>

    </div>    
    <div class="board col-lg-6 col-md-8 col-sm-12">
        <table align="center" class="table table-bordered" cellspacing="5" cellpadding="0">
            <tr id="row0">
                <td class="col0 empty" ng-mouseover="hovering(0)" ng-click="makeMove(0)"></td>
                <td class="col1 empty" ng-mouseover="hovering(1)" ng-click="makeMove(1)"></td>
                <td class="col2 empty" ng-mouseover="hovering(2)" ng-click="makeMove(2)"></td>
                <td class="col3 empty" ng-mouseover="hovering(3)" ng-click="makeMove(3)"></td>
                <td class="col4 empty" ng-mouseover="hovering(4)" ng-click="makeMove(4)"></td>
                <td class="col5 empty" ng-mouseover="hovering(5)" ng-click="makeMove(5)"></td>
                <td class="col6 empty" ng-mouseover="hovering(6)" ng-click="makeMove(6)"></td>
            </tr>
            <tr id="row1">
                <td class="col0 empty" ng-mouseover="hovering(0)" ng-click="makeMove(0)"></td>
                <td class="col1 empty" ng-mouseover="hovering(1)" ng-click="makeMove(1)"></td>
                <td class="col2 empty" ng-mouseover="hovering(2)" ng-click="makeMove(2)"></td>
                <td class="col3 empty" ng-mouseover="hovering(3)" ng-click="makeMove(3)"></td>
                <td class="col4 empty" ng-mouseover="hovering(4)" ng-click="makeMove(4)"></td>
                <td class="col5 empty" ng-mouseover="hovering(5)" ng-click="makeMove(5)"></td>
                <td class="col6 empty" ng-mouseover="hovering(6)" ng-click="makeMove(6)"></td>
            </tr>
            <tr id="row2">
                <td class="col0 empty" ng-mouseover="hovering(0)" ng-click="makeMove(0)"></td>
                <td class="col1 empty" ng-mouseover="hovering(1)" ng-click="makeMove(1)"></td>
                <td class="col2 empty" ng-mouseover="hovering(2)" ng-click="makeMove(2)"></td>
                <td class="col3 empty" ng-mouseover="hovering(3)" ng-click="makeMove(3)"></td>
                <td class="col4 empty" ng-mouseover="hovering(4)" ng-click="makeMove(4)"></td>
                <td class="col5 empty" ng-mouseover="hovering(5)" ng-click="makeMove(5)"></td>
                <td class="col6 empty" ng-mouseover="hovering(6)" ng-click="makeMove(6)"></td>
            </tr>
            <tr id="row3">
                <td class="col0 empty" ng-mouseover="hovering(0)" ng-click="makeMove(0)"></td>
                <td class="col1 empty" ng-mouseover="hovering(1)" ng-click="makeMove(1)"></td>
                <td class="col2 empty" ng-mouseover="hovering(2)" ng-click="makeMove(2)"></td>
                <td class="col3 empty" ng-mouseover="hovering(3)" ng-click="makeMove(3)"></td>
                <td class="col4 empty" ng-mouseover="hovering(4)" ng-click="makeMove(4)"></td>
                <td class="col5 empty" ng-mouseover="hovering(5)" ng-click="makeMove(5)"></td>
                <td class="col6 empty" ng-mouseover="hovering(6)" ng-click="makeMove(6)"></td>
            </tr>
            <tr id="row4">
                <td class="col0 empty" ng-mouseover="hovering(0)" ng-click="makeMove(0)"></td>
                <td class="col1 empty" ng-mouseover="hovering(1)" ng-click="makeMove(1)"></td>
                <td class="col2 empty" ng-mouseover="hovering(2)" ng-click="makeMove(2)"></td>
                <td class="col3 empty" ng-mouseover="hovering(3)" ng-click="makeMove(3)"></td>
                <td class="col4 empty" ng-mouseover="hovering(4)" ng-click="makeMove(4)"></td>
                <td class="col5 empty" ng-mouseover="hovering(5)" ng-click="makeMove(5)"></td>
                <td class="col6 empty" ng-mouseover="hovering(6)" ng-click="makeMove(6)"></td>
            </tr>
            <tr id="row5">
                <td class="col0 empty" ng-mouseover="hovering(0)" ng-click="makeMove(0)"></td>
                <td class="col1 empty" ng-mouseover="hovering(1)" ng-click="makeMove(1)"></td>
                <td class="col2 empty" ng-mouseover="hovering(2)" ng-click="makeMove(2)"></td>
                <td class="col3 empty" ng-mouseover="hovering(3)" ng-click="makeMove(3)"></td>
                <td class="col4 empty" ng-mouseover="hovering(4)" ng-click="makeMove(4)"></td>
                <td class="col5 empty" ng-mouseover="hovering(5)" ng-click="makeMove(5)"></td>
                <td class="col6 empty" ng-mouseover="hovering(6)" ng-click="makeMove(6)"></td>
            </tr>
        </table>
    </div>
        <div class="instructions col-lg-3 col-md-2 col-sm-12">
            <h3>Rules</h3>
            
            <ul>
                <li>-Red plays first.</li>
                <li>-Each player in his turn selects a column in which the lowest available space will be filled.</li>
                <li>-The turns alternate until one of the players gets four checkers of his colour in a row. The four in a row can be horizontal, vertical, or diagonal.</li>
                <li>-The first player to get four in a row wins.</li>
                <li>-If the board is filled with pieces and neither player has 4 in a row, then the game is a tie.</li>
            </ul>
        </div>
</div>



