<div class="rules-container instructions col-lg-3 col-md-2 col-sm-12">
    <h3>Rules</h3>
    
    <ul>
        <li>-Red plays first.</li>
        <li>-Each player in his turn selects a column in which the lowest available space will be filled.</li>
        <li>-The turns alternate until one of the players gets four checkers of his colour in a row. The four in a row can be horizontal, vertical, or diagonal.</li>
        <li>-The first player to get four in a row wins.</li>
        <li>-If the board is filled with pieces and neither player has 4 in a row, then the game is a tie.</li>
    </ul>
</div>