<div class="rules-container instructions col-lg-3 col-md-2 col-sm-12">
    <h3 class="rules-title">Rules</h3>
    
    <ul>
        <li class="rules-item">-Red plays first.</li>
        <li class="rules-item">-Each player in his turn selects a column in which the lowest available space will be filled.</li>
        <li class="rules-item">-The turns alternate until one of the players gets four checkers of his colour in a row. The four in a row can be horizontal, vertical, or diagonal.</li>
        <li class="rules-item">-The first player to get four in a row wins.</li>
        <li class="rules-item">-If the board is filled with pieces and neither player has 4 in a row, then the game is a tie.</li>
    </ul>
</div>