<div class="welcome-container left-dashboard col-lg-3 col-md-2 col-sm-12">
    <div>
	    <h3 class="welcome-title">Welcome to Cuatro </h3>

	    <p class="welcome-subtitle">Be the first player to get four of your checkers in a row - horizontally, vertically or diagonally.</p>
	</div>

    <div ng-hide="game.game" class="col-xs-12">
         <span><h2 class="{{game.winner}}-winner winner">{{game.winner}} player wins!</h2>
         <button class="btn btn-default" ng-click="game.playAgain()">Play Again</button></span>
    </div>

    <div ng-show="game.game" class="col-xs-12">
         <h2 class="turn-text">{{game.player}} player's turn</h2>
    </div>

</div>    